.login__title {
  text-align: center;
  margin-bottom: 2rem;
}

.login {
  padding: 0 0.625rem 1rem 0.625rem;
}

.login__box-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 0 auto;
}

.login__subtitle {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.login__text {
  margin: 0 0 1.5rem 0;
  font-size: 0.9rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login__input--password {
  padding-right: 3rem;
}

.login__password-button {
  cursor: pointer;
  position: absolute;
  right: 3.5rem;
  top: 11.125rem;
}

.login__password-button>svg {
  fill: #8d8887;
}

.login__button {
  cursor: pointer;
  padding: 0.5rem 2rem;
  background-color: #ed7d31;
  border: 0.125rem solid #ed7d31;
  border-radius: 0.5rem;
  font-family: inherit;
  color: #f6f1ee;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.login__button:hover {
  color: #ed7d31;
  background-color: #f6f1ee;
}

.login__button--link {
  text-decoration: none;
  font-size: 0.8rem;
}

.login__form>p {
  margin: 0 0 1rem 0;
}

.login__recover-password {
  cursor: pointer;
  color: inherit;
  padding: 0;
  font-size: 0.875rem;
  font-family: inherit;
  background-color: transparent;
  border: none;
  transition: color 0.5s ease;
}

.login__recover-password:hover {
  color: #ed7d31;
}

@media screen and (min-width: 768px) {
  .login__box-container {
    flex-direction: row;
  }

  .login {
    max-width: 64rem;
    margin: 0 auto;
    padding: 0 0.875rem;
  }
}

@media screen and (min-width: 1024px) {
  .login__title {
    margin-top: 4rem;
  }
}