.orders__list {
  width: 95%;
  max-width: 35rem;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
}

.orders__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
  border: solid .0625rem #c4c4c4;
  border-radius: .5rem;
}

.orders__section {
  width: 9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.orders__price, .orders__date {
  font-weight: 600;
}

.orders__btn {
  padding-top: 0.25rem;
  text-decoration: none;
  color: #707070;
  transition: all 0.5s ease;
}

.orders__btn:hover {
  color: #ED7D31;
}

.empty-orders__container {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-orders__text {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 30rem;
}

.empty-orders__link {
  text-decoration: none;
  color: #F6F1EE;
  background-color: #ED7D31;
  border: .125rem solid #ED7D31;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.empty-orders__link:hover {
  color: #ED7D31;
  background-color: #F6F1EE;
}