.submit-btn {
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  width: 10rem;
  background-color: #ed7d31;
  border: 0.125rem solid #ed7d31;
  border-radius: 0.5rem;
  font-family: inherit;
  color: #f6f1ee;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.submit-btn--red {
  background-color: #ed4731;
  border-color: #ed4731;
}

.submit-btn:hover {
  color: #ed7d31;
  background-color: #f6f1ee;
}

.submit-btn--red:hover {
  color: #ed4731;
}