.main {
  display: flex;
  justify-content: center;
}

.product-card__container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(18.75rem, 1fr)
  );
  gap: 1.25rem
}

@media screen and (min-width: 1024px) {

  .product-card__container {
    padding: 5rem 3rem 3rem 3rem;
  }
}
