.product-card__container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr));
  gap: 1.25rem;
}

.product-card__search {
  padding: 0;
  margin: 2rem 0 0 0;
  text-align: center;
}

.product-card__search + .product-card__container {
  padding-top: 2rem;
}

.main {
  display: flex;
  justify-content: center;
}

/* media querys */
@media screen and (min-width: 480px) {
  .product-card__container {
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .product-card__container {
    padding: 5rem 3rem 3rem 3rem;
  }
  .product-card__search {
    margin-top: 5rem;
  }

  .product-card__search + .product-card__container {
    padding-top: 2rem;
  }
}
