main {
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  gap: 1.25rem
}

@media screen and (min-width: 1024px) {
  main {
    padding: 5em 3em 3em 3em;
  }
}
