.product-card {
  position: relative;
  cursor: pointer;
  border: solid 0.0625rem transparent;
}

.product-card__info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  position: absolute;
  top: 1.125rem;
  left: -2.5%;
  z-index: 1;
  margin: 0;
  max-width: 90%;
  width: max-content;
  height: 3.75rem;
  padding: 0 1rem;
  background-color: #ed7d31;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.625rem #464444;
  animation: slide 0.5s ease 0s 1 normal both;
}

.product-card__link:hover > .product-card__info {
  display: flex;
}

.product-card__name {
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0;
  color: #f6f1ee;
}

.product-card__price {
  color: #f6f1ee;
  font-size: 0.8rem;
}

.product-card__image-overlay {
  opacity: 0;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.486);
  width: 100%;
  height: 100%;
  border: solid 0.0625rem rgba(128, 128, 128, 0.486);
  border-radius: 0.5rem;
  transition: opacity 0.5s ease;
}

.product-card__link:hover > .product-card__image-overlay {
  opacity: 1;
}

.product-card__image {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: solid 0.0625rem #d3d3d3;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .product-card__name {
    font-size: 1.25rem;
  }
  .product-card__price {
    font-size: 0.9rem;
  }
  
}
