.item__hr {
  width: 100%;
  margin: 0;
  border: none;
  height: 0.01rem;
  color: #d3d3d3;
  background-color: #d3d3d3;
}

.item {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.item--border {
  padding: .5rem;
  border: solid .0625rem #d3d3d3;
  border-radius: .5rem;
}

.item__img-link>img {
  width: 5rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  border: solid 0.0625rem #d3d3d3;
  border-radius: 0.5rem;
  transition: opacity 0.5s ease;
}

.item__img-link>img:hover {
  opacity: 80%;
}

.item__info-section {
  width: 100%;
}

.item__top-info,
.item__bottom-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item__bottom-info {
  margin-top: 0.5rem;
}

.item__name {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
  font-size: 0.875rem;
  transition: color 0.5s ease;
}

.item__name:hover {
  text-decoration: underline;
  color: #363636;
}

.item__delete {
  cursor: pointer;
  border: none;
  background-color: none;
  background: none;
  transition: color 0.5s ease;
}

.item__delete:hover {
  color: #ED7D31;
}

.item__price {
  margin-bottom: 0.2rem;
  color: #4f4a45;
  font-size: 0.8rem;
}

.item__category>strong {
  color: #757575;
  font-size: 0.8rem;
}

.category__name {
  font-size: 0.8rem;
  color: #757575;
}

.item__quantity-container {
  padding: 0.1rem;
  align-items: center;
  display: flex;
  gap: 1rem;
  background-color: #ED7D31;
  border-radius: 0.3125rem;
}

.item__quantity {
  color: #F6F1EE;
  width: 1rem;
  text-align: center;
}

.item__quantity--small {
  font-size: small;
  font-weight: bold;
}

.item__btn {
  font-size: large;
  color: #F6F1EE;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.item__btn--invisible {
  display: none;
}

.item__total-price {
  color: #1a1a1a;
  font-weight: bold;
}