.password__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.password__btn {
  cursor: pointer;
}

.password__btn>svg {
  fill: #8d8887;
}