.product__container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.product__image-container {
  padding: 0 2rem;
  width: 100%;
  max-width: 40rem;
}

.product__image-container>img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: solid 0.0625rem #d3d3d3;
}

.product__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__name {
  color: #1a1a1a;
  margin: 1.5rem 0 0.5rem 0;
  font-size: 2rem;
}

.product__price {
  margin-bottom: 1.5rem;
  color: #4f4a45;
  font-weight: bold;
  font-size: 1.25rem;
}

.product__purchase-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__btn {
  cursor: pointer;
  padding: 0.5rem 7rem;
  font-family: inherit;
  font-size: 1rem;
  color: #f6f1ee;
  background-color: #ed7d31;
  border: 0.125rem solid #ed7d31;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.product__btn:hover {
  background-color: #f6f1ee;
  color: #ed7d31;
}

.product__quantity-container {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.1rem;
  color: #f6f1ee;
  background-color: #ed7d31;
  border-radius: 0.3125rem;
}

.product__btn--quantity {
  padding: 0.5rem 1.5rem;
  border: none;
}

.product__btn--quantity:hover {
  background-color: #db722b;
  color: #f6f1ee;
}

.product__desc {
  margin: 1rem 0 0 0;
  padding: 0 2rem;
  font-size: 1.125rem;
  font-weight: lighter;
}

.related-products__container {
  padding: 0 2rem;
}

.related-products__title {
  margin: 2rem 0 0 0;
  font-size: 1.125rem;
}

.related-products__slider {
  padding: 2rem 2rem;
}

.slick-slide>div {
  margin: 0 0.375rem;
}

.slick-list {
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .product__container {
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: row;
    align-items: normal;
  }

  .product__image-container {
    padding: 0;
  }

  .product__info-container {
    width: 50%;
    align-items: flex-start;
  }

  .product__title-info {
    align-items: start;
  }

  .product__name {
    margin-top: 0;
  }

  .product__purchase-info {
    height: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .product__desc {
    padding: 0;
  }

  .product__btn {
    padding: 0.5rem 4rem;
    margin-top: auto;
  }

  .product__quantity-container {
    margin-top: auto;
  }

  .product__btn--quantity {
    padding: 0.5rem 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .product__container {
    padding: 4rem 2rem 2rem 2rem;
  }
}