header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: #4f4a45;
  color: #ed7d31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
}

.navbar__item-container {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

.navbar__item {
  cursor: pointer;
}

.navbar__input {
  opacity: 0;
  width: 20px;
  position: absolute;
  top: 0.675rem;
  padding: 0.5rem 1rem;
  outline: none;
  color: #F6F1EE;
  font-family: inherit;
  background-color: #3d3a36;
  border: 0.125rem solid #2e2b28;
  border-radius: 2rem;
  transition: all 0.2s ease;
}

.navbar__item--search > svg {
  transition: color 0.2s ease;
}

.navbar__item--search:hover > svg,
.navbar__input:focus + svg {
  color: transparent;
}

.navbar__item--search:hover > .navbar__input,
.navbar__input:focus {
  opacity: 1;
  width: 20%;
}

.navbar__title {
  font-size: larger;
  font-weight: bold;
  background-color: #ed7d31;
  border: solid 0.0625rem #ed7d31;
  border-radius: 0.625rem;
  padding: 0.3rem 1rem;
  color: #4f4a45;
  text-decoration: none;
}

.navbar__item-container:first-child,
.navbar__item-container:last-child {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* media querys */
@media screen and (min-width: 1024px) {
  .navbar__item-container:first-child {
    gap: 0;
  }
  .navbar__item--space {
    margin-right: 2.5rem;
  }
}
