header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: #4f4a45;
  color: #ed7d31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
}

.navbar__item-container {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

.navbar__item {
  cursor: pointer;
}

.navbar__title {
  font-size: larger;
  font-weight: bold;
  background-color: #ed7d31;
  border: solid 0.0625rem #ed7d31;
  border-radius: 0.625rem;
  padding: 0.3rem 1rem;
  color: #4f4a45;
  text-decoration: none;
}

.navbar__item-container:first-child,
.navbar__item-container:last-child {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* media querys */
@media screen and (min-width: 64rem) {
  .navbar__item-container:first-child {
    gap: 0;
  }
  .navbar__item--space {
    margin-right: 2.5rem;
  }
}
