.tools__container {
  width: 100%;
  display: flex;
}

.tools__options {
  margin-top: .3rem;
  margin-right: .1rem;
}

.tools__list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tools__item {
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: .5rem;
  transition: all 0.5s ease;
}

.tools__item:hover {
  background-color: #6C5F5B;
}

.tools__btn {
  padding: .3rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #6C5F5B;
  transition: all 0.5s ease;
}

.tools__btn:hover {
  color: #F6F1EE;
}

.tools__name {
  font-size: larger;
  font-weight: bold;
  display: none;
}

.tools__item--selected {
  background-color: #6C5F5B;
}

.tools__item--selected>.tools__btn {
  color: #F6F1EE;
}

.tools__option-view {
  width: 100%;
  padding-left: .5rem;
  border-left: .125rem solid #d3d3d3;
}

@media screen and (min-width: 768px) {
  .tools__name {
    display: block;
  }

  .tools__options {
    padding-left: 5rem;
  }
}