.delete__btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.5rem 0.5rem;
  min-width: inherit;
  text-decoration: none;
  color: #F6F1EE;
  background-color: #ed4731;
  border: 0.125rem solid #ed4731;
  border-radius: 0.5rem;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.delete__btn:hover {
  color: #ed4731;
  background-color: #F6F1EE;
}